@using LetsRaid.Models;
@model LetsRaid.Models.Raid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Raid</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<table>
    @foreach (var character in Model.Characters)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => character.CharacterName)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RaidId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
