@model IEnumerable<LetsRaid.Models.ServerModels.Server>

@{
    ViewBag.Title = "Server View";
}

<h2>Servers</h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "Guilds", new { Id = item.ServerId }, null)
            </td>

        </tr>
    }
        <td>
            @*@Html.ActionLink("New Raid List", "Create", "Raids", new { Id = item.ServerId }, null)*@
            @using (Html.BeginForm("Create", "Raids", FormMethod.Post))
            {
                @Html.ActionLink("New Raid List", "Create", "Raids")
            }

        </td>

</table>
