@model LetsRaid.Models.GuildModels.Guild

@{
    ViewBag.Title = "GetMembers";
}

<h2>GetMembers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Class
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i <= 20; i++)
    {
        
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Members[i].Character.Name)
        </td>
        @if (Model.Members[i].Character.Class == "2")
        {
            <td>
                Paladin
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => Model.Members[i].Character.Class)
            </td>
            
        }
        <td>
            <img src="@ViewBag.Thumbnail@Model.Members[i].Character.Thumbnail" alt="Thumbnail" />
        </td>
    </tr>
    }


</table>
