@model IEnumerable<LetsRaid.Models.GuildModels.Guild>



<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
           Guilds
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
