@model IEnumerable<LetsRaid.Models.ServerModels.Server>

@{
    ViewBag.Title = "DBView";
}

<h2>Servers</h2>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name,"Dalaran","Home",new { Id = item.ServerId },null)
        </td>
    </tr>
}

</table>
