@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LetsRaid</h1>
    <p class="lead">This is our app.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

